<div class="overlay" (click)="onCloseEvent()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="color-board">
      <canvas #board (click)="onColorChoose($event)"></canvas>
    </div>

    <div class="form-container">
      <div class="color-preview" [style.background-color]="'rgb(' + rgb.r + ',' + rgb.g + ',' + rgb.b + ')'">
      </div>

      <div class="tabs" role="tablist" aria-label="Color model">
        <button type="button" class="tab" [class.active]="mode==='rgb'" (click)="mode='rgb'">RGB</button>
        <button type="button" class="tab" [class.active]="mode==='cmyk'" (click)="mode='cmyk'">CMYK</button>
      </div>

      <div class="panel">
        <form>
          <div class="input-group-grid" *ngIf="mode==='rgb'">
            <label for="r-text">R</label>
            <input type="range" min="0" max="255" name="r-slider"
                   [(ngModel)]="rgb.r" (ngModelChange)="onRgbChange()">
            <input type="number" min="0" max="255" name="r-text" id="r-text"
                   [(ngModel)]="rgb.r" (ngModelChange)="onRgbChange()">
            <label for="g-text">G</label>
            <input type="range" min="0" max="255" name="g-slider"
                   [(ngModel)]="rgb.g" (ngModelChange)="onRgbChange()">
            <input type="number" min="0" max="255" name="g-text" id="g-text"
                   [(ngModel)]="rgb.g" (ngModelChange)="onRgbChange()">
            <label for="b-text">B</label>
            <input type="range" min="0" max="255" name="b-slider"
                   [(ngModel)]="rgb.b" (ngModelChange)="onRgbChange()">
            <input type="number" min="0" max="255" name="b-text" id="b-text"
                   [(ngModel)]="rgb.b" (ngModelChange)="onRgbChange()">
          </div>

          <div class="input-group-grid" *ngIf="mode==='cmyk'">
            <label for="c-text">C</label>
            <span class="fake-slider"></span> <input type="number" min="0" max="100" name="c-text" id="c-text"
                                                     [(ngModel)]="cmyk.c" (ngModelChange)="onCmykChange()">
            <label for="m-text">M</label>
            <span class="fake-slider"></span>
            <input type="number" min="0" max="100" name="m-text" id="m-text"
                   [(ngModel)]="cmyk.m" (ngModelChange)="onCmykChange()">
            <label for="y-text">Y</label>
            <span class="fake-slider"></span>
            <input type="number" min="0" max="100" name="y-text" id="y-text"
                   [(ngModel)]="cmyk.y" (ngModelChange)="onCmykChange()">
            <label for="k-text">K</label>
            <span class="fake-slider"></span>
            <input type="number" min="0" max="100" name="k-text" id="k-text"
                   [(ngModel)]="cmyk.k" (ngModelChange)="onCmykChange()">
          </div>

          <div class="actions">
            <button type="button" (click)="onCloseEvent()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
