<div class="toolbar">
  <button (click)="onBrush()"><i class='bx bx-brush'></i></button>
  <button (click)="onLine()"><i class='bx bx-minus'></i></button>
  <button (click)="onRectangle()"><i class='bx bx-rectangle-wide'></i></button>
  <button (click)="onCircle()"><i class='bx bx-circle'></i></button>
  <button (click)="onClear()"><i class='bx bx-eraser'></i></button>
  <button (click)="onHand()"><i class='bx bx-hand'></i></button>
  <button (click)="onResize()"><i class='bx bx-edit'></i></button>
</div>
